@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');

html {
    font-size: 16px;
}

body {
    font-family: "Manrope", sans-serif;
    color: #181818;
    background-color: #F1F1F1;
}

u {
    text-underline-offset: 1rem;
}

/* header */

.header__logo {
    font-size: 1.25rem;
    font-weight: 800;
    line-height: 110%;
    letter-spacing: 0%;
    text-align: center;
}

.container {
    width: 1539px;
    margin: auto;
}

.nav {
    padding: 2rem 0rem;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.nav__links {
    display: flex;
    gap: 1.5rem;
    align-items: center;

}

.nav__links li {
    font-size: 1.25rem;
    font-weight: 600;
    line-height: 120.89%;
    letter-spacing: 0%;
    text-align: center;
}

.nav__button {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    font-size: 1.25rem;
    font-weight: 600;
    line-height: 120.89%;
    text-align: center;
    background-color: white;
    padding: 0.5rem 0.5rem 0.5rem 1rem;
    border-radius: 3.13rem;
}

.nav__button div {
    background: #181818;
    width: 2.31rem;
    height: 2.31rem;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* main */

.hero {
    padding-top: 2.5rem;

}

.hero ul {
    position: absolute;
}

.hero__relative div {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.25rem;
    font-weight: 600;
    padding: 1rem;
    border-radius: 3.13rem;
    background: rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(0.1rem);
}

.list_1 {
    position: absolute;
    top: 1rem;
    right: 8rem;

}


.list_2 {
    position: absolute;
    top: 6rem;
    left: 6rem;
}

.list_3 {
    position: absolute;
    bottom: -1.5rem;
    left: 46rem;
}

.hero__relative {
    position: relative;
}

.hero__title {
    padding: 1rem;
    font-size: 5.38rem;
    font-weight: 600;
    line-height: 100%;
    letter-spacing: 0%;
    text-align: center;
}

.hero__img {
    height: 52rem;
    margin-top: 3.5rem;
    position: relative;

}

.hero__text-bottom {
    position: absolute;
    bottom: 1rem;
    right: 0;
    display: flex;
    align-items: center;
    gap: 6rem;
}

.hero__text-bottom p {
    font-size: 1.5rem;
    font-weight: 600;
}

.hero__img img {
    width: 100%;
    height: 100%;
}

/* block1 */
.block1 {
    margin-top: 5.5rem;
}

.title {
    margin: auto;
    max-width: 80%;
    font-size: 3rem;
    font-weight: 700;
    line-height: 130%;
    letter-spacing: 0%;
    text-align: center;
    padding-bottom: 2rem;
}

.button__blocks {
    display: flex;
    gap: 0.5rem;
}

.button__gray {
    box-sizing: border-box;
    border: 0.13rem solid rgb(206, 206, 206);
    border-radius: 3.13rem;
    background: rgba(41, 41, 41, 0);
    padding: 0.1rem 2rem;
    font-size: 1.13rem;
    font-weight: 600;
    line-height: 1.56rem;
    letter-spacing: 0%;
    text-align: center;
}

.button__gray_circle {
    width: 2.06rem;
    height: 2.06rem;
    border-radius: 50%;
    border: 0.13rem solid rgb(206, 206, 206);
    background: rgba(41, 41, 41, 0);
    font-size: 1.13rem;
    font-weight: 600;
    line-height: 1.56rem;
    letter-spacing: 0%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.advantage {
    display: flex;
    gap: 2rem;
    margin-top: 1rem;
}

.advantage_itembig {
    width: 41rem;
    height: 31rem;
    background-image: url(./asset/advantage1.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 3.75rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    position: relative;
    padding: 5rem 2rem 2rem 2rem;
}

.button__circle {
    box-sizing: border-box;
    border: 0.13rem solid #181818;
    background: rgba(217, 217, 217, 0);
    height: 5.63rem;
    width: 5.63rem;
    border-radius: 50%;
}

.advantage_itembig .button__circle {
    position: absolute;
    right: 0;
    bottom: 0;
}

.advantage__title {
    font-size: 3rem;
    font-weight: 600;
    line-height: 4.13rem;
    letter-spacing: 0%;
    text-align: center;

}

.advantage_itembig-text {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    align-items: center;
    justify-content: center;
}

.advantage__title span {}

.advantage_itembig p {
    font-size: 1.5rem;
    font-weight: 600;
    line-height: 1.69rem;
    letter-spacing: 0%;
    text-align: center;
    width: 25.38rem;
}

.advantage__button {
    border-radius: 3.13rem;
    background: rgba(240, 241, 242, 0.5);
    padding: 0.7rem 1.2rem;
    font-size: 1.25rem;
    font-weight: 600;
    line-height: 1.69rem;
    align-items: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.advantage_item {
    width: 26.63rem;
    height: 31rem;
    background-color: #FFFFFF;
    border-radius: 3.75rem;
    padding: 3rem 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

.advantage_item h2 {
    font-size: 2.38rem;
    font-weight: 700;
    line-height: 2.25rem;
    letter-spacing: 0%;
    text-align: center;

}

.py-3 {
    padding: 3rem 0rem;
}

.advantage_item p {
    font-size: 1.5rem;
    color: rgb(124, 124, 124);
    font-weight: 500;
    text-align: center;

}

.advantage_item button {
    margin-top: 4rem;
}

.button__black {
    border-radius: 3.13rem;
    background: #181818;
    color: #FFFFFF;
    font-size: 1.25rem;
    font-weight: 400;
    padding: 0.6rem 2rem;
}

.advantage_item img {
    width: 20.25rem;
    height: 17.5rem;
    border-radius: 3.75rem;
    margin-bottom: 2rem;
}


/* product */
.product {
    padding-top: 6rem;
}

.title__center {
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 0.8rem
}

.gallery {
    display: flex;
    align-items: end;
    gap: 4rem;

}


.gallery__img {
    width: 56.25rem;
    height: 36.06rem;
    border-radius: 3.13rem;

}

.gallery__text {
    width: 24rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}

.gallery__img img {
    width: 100%;
    height: 100%;
    border-radius: 3.13rem;
}

.gallery__text h2 {
    font-size: 2.38rem;
    font-weight: 800;
    line-height: 4.13rem;
    letter-spacing: 0%;
    padding-bottom: 2.5rem;

}

.gallery__text button{
    margin-top: 10rem;
}

.gallery__text ul {
    font-size: 1.5rem;
    font-weight: 600;
    line-height: 115%;
    letter-spacing: 0%;
    color: rgb(124, 124, 124);
}

.product .gallery {
    display: flex;
    gap: 8rem;
}

.button__black-border {
    border: 0.13rem solid #181818;
    border-radius: 3.75rem;
    color: #181818;
    font-weight: 700;
    padding: 1rem 3rem;
    font-size: 1.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 5.63rem;
}

.gallery__text ul li b {
    color: #181818;
}

.gallery__buttons button {
    
}

.gallery__buttons {
    width: 56.25rem;
    margin-top: 2.5rem;
    display: flex;
    gap: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.gallery .button__black-border {
    width: 55%;
}

/* application */
.application {
    padding-top: 5.5rem;
}

.gallery2 ul {
    display: flex;
    justify-content: space-between;
    gap: 2rem;

}

.gallery2__block_active {
    width: 58%;
    background-color: #FFFFFF;
    border-radius: 3.13rem;
    height: 36.25rem;
    padding: 3rem;
    display: flex;
    gap: 3rem;
}


.gallery2__block_active img {
    width: 21.5rem;
    height: 100%;
    border-radius: 3.13rem;
}

.gallery2__block-text {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-top: 2rem;
}

.gallery2__block-text h2 {
    font-size: 3rem;
    font-weight: 800;
}

.gallery2__block-text p {
    color: rgb(124, 124, 124);
    font-size: 1.5rem;
    font-weight: 500;
    line-height: 115%;
    letter-spacing: 0%;
}

.gallery2__block-text .gallery2__buttons {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.gallery2__block-text .gallery2__buttons div {
    font-size: 1.25rem;
    font-weight: 700;
    line-height: 1.69rem;
    letter-spacing: 0%;
    text-align: left;
}

.gallery2__block-text .gallery2__buttons button {
    width: 5.63rem;
    height: 5.63rem;
    border-radius: 50%;
    background-color: #181818;
}

.gallery2__block {
    flex: 1;
    background-color: #FFFFFF;
    border-radius: 3.13rem;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.gallery2__buttons button {
    display: flex;
    justify-content: center;
    align-items: center;


}

.img-1 {
    background-image: url(./asset/gallery2-1.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.img-2 {
    background-image: url(./asset/gallery2-2.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.gallery2__buttons button img {
    width: 1.3rem;
}

.gallery2__block button {
    border: 0.06rem solid rgb(255, 255, 255);
    border-radius: 3.13rem;
    background: rgba(41, 41, 41, 0);
    color: rgb(255, 255, 255);
    font-size: 1.25rem;
    font-weight: 600;
    line-height: 1.69rem;
    letter-spacing: 0%;
    text-align: center;
    padding: 0.6rem 1rem;
    width: 70%;

}

.gallery2__block h2 {
    color: rgb(255, 255, 255);
    font-size: 2.25rem;
    font-weight: 700;
    line-height: 2.13rem;
    letter-spacing: 0%;
}


/* commercia  */

.commercia {
    padding-top: 10rem;
}

.subtitle {
    font-size: 1.5rem;
    font-weight: 500;
    line-height: 2.06rem;
    letter-spacing: 0%;
    text-align: center;
    color: rgb(124, 124, 124);
}


.gallery3 {
    display: flex;
    justify-content: space-between;
    padding-top: 6rem;
    align-items: center;
}

.gallery3__block {
    display: flex;
    align-items: center;
    gap: 4rem;
}

.gallery__block img {
    width: 48.25rem;
    height: 36.94rem;
}

.gallery3__text {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    height: 36.94rem;
    padding: 3rem
}

.gallery3__text p {
    font-size: 1.5rem;
    font-weight: 600;
    line-height: 2.06rem;
    letter-spacing: 0%;
    text-align: left;

}

.gallery3__buttons {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}


/* delivery */


.delivery {
    padding-top: 10rem;
}

/* faq */
.faq {
    padding-top: 9rem;
}

.center {
    display: flex;
    align-items: center;
    justify-content: center;
}

.faq__item {
    display: flex;
    justify-content: space-between;
    align-items: top;
    padding: 3rem 0rem;
    border-bottom: 0.19rem solid rgb(182, 182, 182);

}

.faq__item h3 {
    font-size: 2.25rem;
    font-weight: 600;
    line-height: 3.06rem;
    letter-spacing: 0%;
    text-align: left;
}

.faq__item p {
    color: rgb(124, 124, 124);
    font-size: 2.25rem;
    font-weight: 600;
    line-height: 3.06rem;
    letter-spacing: 0%;
    text-align: left;
    padding-top: 2rem;
}


/* about */
.about {
    padding-top: 11rem;
}

.four__block {
    padding-top: 6rem;
}

.four__block ul {
    display: flex;
    justify-content: space-between;
    align-items: start;
}

.four__block li {
    width: 24%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}


.four__block li img {
    width: 100%;
    height: 18.75rem;
    border-radius: 3.13rem;
}

.four__block li div {
    font-size: 2.38rem;
    font-weight: 700;
    text-align: center;
    color: rgb(124, 124, 124);
}

.four__block li p {
    font-size: 2.38rem;
    font-weight: 700;
    text-align: center;
}

.four__block li button {}

.bg__white {
    background-color: #FFFFFF;
    border-radius: 3.13rem;
    height: 29.63rem;
    display: flex;
}
.bg__white p {
    padding-bottom: 2rem;
}
.footer {
    padding-top: 17rem;
}

.footer form {
    padding-top: 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
}

form input {
    border-radius: 3.13rem;
    background: rgb(255, 255, 255);
    color: rgb(160, 160, 160);
    font-size: 1.5rem;
    font-weight: 600;
    line-height: 2.06rem;
    letter-spacing: 0%;
    text-align: left;
    height: 5rem;
    padding: 2rem;
    flex: 2;
}

.footer__bottom .container {
    padding-top: 10rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 2rem;

}

.button__circle_gray {
    box-sizing: border-box;
    border: 0.13rem solid rgb(160, 160, 160);
    ;
    background: rgba(217, 217, 217, 0);
    height: 5.63rem;
    width: 5.63rem;
    border-radius: 50%;
}

.footer__bottom {
    font-size: 1.13rem;
    font-weight: 400;
    color: rgb(160, 160, 160);
}